/**
 * This font face declaration was extracted from the
 * GlobalStyles styled-components component because it
 * was causing rendering issues where the pages component
 * tree got re-rendered (due to state changes like
 * infoOpen and filterOpen).
 *
 * I'm guessing this is because everything the component
 * tree is re-rendered, this font-face declaration is
 * re-declared. For whatever reason, this was the cause
 * for the text to flash / change font when state was
 * in the main page component.
 */
@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Regular.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Regular.woff2") format("woff");
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-family: "SuisseIntl", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* 2000 number is a placeholder */
@media screen and (max-width: 2000px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-weight: normal;
  padding: 10px;
  cursor: pointer;
  font-size: inherit; /* Chrome needs explicit setting of this */
}

/* Disables the focus outline that is only present on Firefox */
button::-moz-focus-inner {
  border: 0;
}

button:focus {
  outline: none;
}

/* Uncomment when `selector` works inside support queries:
   https://developer.mozilla.org/en-US/docs/Web/CSS/@supports#Testing_for_the_support_of_a_selector

-----------------------------------------------------------------

@supports selector(:focus-visible) {
  button:focus:not(:focus-visible) {
    outline: none;
  }
}
*/
