/**
 * NOTE:
 *
 * This font face declaration was extracted from the
 * GlobalStyles styled-components component because it
 * was causing rendering issues where the pages component
 * tree got re-rendered (due to state changes like
 * infoOpen and filterOpen).
 *
 * I'm guessing this is because everything the component
 * tree is re-rendered, this font-face declaration is
 * re-declared. For whatever reason, this was the cause
 * for the text to flash / change font when state was
 * in the main page component.
 */

@font-face {
  font-family: "SuisseIntl";
  src: url("../../static/SuisseIntl-Regular.woff2") format("woff2"),
    url("../../static/SuisseIntl-Regular.woff") format("woff");
  font-display: optional;
}

/* All non-dynamic styles have been moved from GlobalStyles to here */

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

html {
  font-family: "SuisseIntl", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* 2000 number is a placeholder */
@media screen and (max-width: 2000px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  border: none;
  background: none;
  font-weight: normal;
  padding: 10px;
  cursor: pointer;
  /* Chrome needs explicit setting of this property */
  font-size: inherit;
  /* Think about a11y */
  outline: none;
}

a {
  text-decoration: none;
}
